Оцени, насколько следующий ответ релевантен вопросу.

Вопрос: {{ question }}
Ответ: {{ answer }}

Верни оценку от 0.0 до 1.0, где:
- 1.0 = ответ полностью отвечает на вопрос
- 0.5 = ответ частично отвечает на вопрос
- 0.0 = ответ не отвечает на вопрос

Верни ТОЛЬКО число от 0.0 до 1.0.